.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #dbdbdb;
    height: auto;
    width: 28rem;
    margin: 4rem auto;
    padding: 0 2.1rem;
}

.box form {
    display: flex;
    flex-direction: column;
}

.img {
    margin: 2rem 0rem 1rem 0;
    background-image: url('../../images/image-bundle.png');
    background-position: -130px 0;
    height: 96px;
    width: 96px;
}

.box h4 {
    color: #262626;
    font-weight: 600;
    font-size: 1.1rem;
}

.box p {
    margin-top: 0.5rem;
    color: #8e8e8e;
    font-size: 16px;
    text-align: center;
}

.btn {
    width: 20rem;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background-color: rgba(0, 149, 246, .3);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    padding: 0.45rem 0.6rem;
}

.disabled {
    background-color: #0095f6 !important;
    cursor: pointer;
}

.box a{
    color: #262626;
    font-size: 16px;
    font-weight: 600;
}

.login {
    width: 28rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    margin-top: 6rem;
    text-align: center;
}