.box{
    width: 22rem;
    height: 4rem;
    background-color: white;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 1px;
    margin-left: 1.3rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp{
    padding-left: 0.4rem;
    color: #0095f6;
    font-weight: 600;
}