.box{
    width: 22rem;
    height: 6rem;
    margin-top: 0.8rem;
    margin-left: 1.3rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    padding-top: 1rem;
    display: flex;
}

.images img{
    height: 2.5rem;
    width: 8.5rem;
}

.playStore {
    margin-left: 0.5rem;
}